@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(../assets/imgs/background.jpg);
    background-size: cover;
}

html {
    scrollbar-width: none;
}

div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 120px;
    filter: drop-shadow(0 30px 2px black);
}

div > p {
    color: snow;
    text-align: center;
    font-size: 2rem;
    font-family: "Great Vibes";
    color: #f5c03a;
    text-shadow: #192242 1px 1px 3px;
    letter-spacing: 4px;
    word-spacing: 10px;
    animation: float 1.5s infinite ease-in-out alternate;
}

div > p::before {
    content: "⁓";
    width: 10px;
}

div > p::after {
    content: "⁓";
    width: 10px;
}

@keyframes float {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(8px);
    }
}

main {
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/imgs/backgroundcarta.webp);
    background-size: contain;
    filter: drop-shadow(0 30px 15px black);
    border-radius: 10px;
    position: relative;
    animation: float 1s infinite ease-in-out alternate;
}

article {
    width: 0;
    height: 0;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    border-top: 80px solid #0000003b;
    position: absolute;
    top: 2px;
    filter: drop-shadow(0 3px 1px black);
}

a > img {
    position: absolute;
    width: 45px;
    top: -25px;
    left: -23px;
    transition: all 300ms ease-in-out;
}

a > img:hover {
    animation: girar 3s infinite ease-in-out;
    transition: all 300ms ease-in-out;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}